In [1]:
%load_ext autoreload

from mrepair import MRePair

import pandas as pd

# Generate Toy Data

In [2]:
data = {
    't': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
    'Col 1': ['abc', 'abb', 'abc', 'abb', 'abc', 'abc', 'abc', 'abc', 'abb', 'aaa'],
    'Col 2': ['abb', 'abc', 'abb', 'abc', 'abb', 'abc', 'abc', 'abc', 'abc', 'aaa'],
    'Col 3': ['abc', 'abb', 'abc', 'abb', 'abc', 'abb', 'abc', 'abc', 'abc', 'aaa']
}


df = pd.DataFrame(data=data)
df

   t Col 1 Col 2 Col 3
0  0   abc   abb   abc
1  1   abb   abc   abb
2  2   abc   abb   abc
3  3   abb   abc   abb
4  4   abc   abb   abc
5  5   abc   abc   abb
6  6   abc   abc   abc
7  7   abc   abc   abc
8  8   abb   abc   abc
9  9   aaa   aaa   aaa

# M-RePair

In [3]:
%autoreload

mrepair = MRePair(df)

In [4]:
%autoreload

rules, phrases = mrepair.get_results()

In [5]:
rules

       Rule            Expanded Rule  Occurrence
R1  abc abb                  abc abb           8
R2  abc abc                  abc abc           7
R3      1 1          abc abb abc abb           4
R4      3 2  abc abb abc abb abc abc           2

In [6]:
phrases

  Col 1 Col 2 Col 3
0     4   abb     3
1   abc     4     1
2     1     2     2
3   aaa   aaa   abc
4               aaa

# Display the Rules

In [7]:
%autoreload

mrepair.get_hierarchy()